h1 {
    margin-bottom: 0;
}

ul {
    margin: 0;
}

li.even {
    --link-color: var(--second-link-color);
}

ul>li {
    margin: .4em 0;
}

ul>li::marker {
    content: '✨ ';
    margin-right: .5em;
}

a:has(.pretty-btn) {
    width: max-content;
}