
h3 {
    margin-bottom: 0;
}

ul {
    margin-top: .7em;
}

li.even {
    --link-color: var(--second-link-color);
}

ul>li {
    margin: .2em 0;
}

ul>li::marker {
    content: '✨ ';
    margin-right: .5em;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: .9em;
    font-weight: 500;
}

main a:hover {
    filter: brightness(0.9);
}
