.slide-toggle {
    height: 1em;
    width: 2em;
    transform: translate(0, 20%);
    top: 50%;
    border-radius: 1em;

    position: relative;
    background-color: var(--slider-bg-inactive);
    display: inline-block;
}

.slide-ball {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 1.2em;
    height: 1.2em;
    transform: translate(-10%, -50%);

    background-color: var(--slider-dot) !important;
    border-radius: 50%;
    z-index: 5;
    background-clip: border-box;
}

.slide-toggle.active {
    background-color: var(--slider-bg-active);
}

.active>.slide-ball {
    left: 50%;
}